*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
}

body {
    width: 100%;
    height: auto;
    background-color:#ffecbd;
    background-image: linear-gradient(0deg, #ffecbd, white);
}

main{
    padding-top: 1rem;
}

.jumbotron {
    padding-top: 1rem;
    display: block;
    border-width: 0;
    border-style: solid;
}

.jumbotron .presentacion {
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.jumbotron .presentacion > div > h1{
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1;
}

.jumbotron .row .img-presentacion > img {
    width: 100%;
    height: 100%;
    display: block;
    right: 0;
    
}

#correo{
    padding-bottom: 2rem;
}
#correo button{
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    background-color: #ffc107;
    border-radius: 0.5rem;
    border: none;
}

#correo input{
    padding: 0.2rem 0.6rem;
}

.pricing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    margin: 1rem;
    transition: all 0.2s ease-in;
}

.card-wrapper:hover {
    transform: scale(1.1);
}

.card-header > img {
    height: 120px;
    display: block;
    margin: 0 auto;
}

.card-detail {
    width: 100%;
   height: 300px;
}

.card-wrapper > button {
    padding: 0.3rem;
}

.card-wrapper .card-header > h2 {
    letter-spacing: 2;
    text-align: center;
}

.extras{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.extras .row .banqueteria > h2{
    padding-top: 1rem;
}
.extras .row .banqueteria > h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.extras .row .banqueteria > p{
    padding-top: 0.6rem;
}

.extras .row .img-presentacion > img {
    width: 100%;
    height: 100%;
    display: block;
    right: 0;
}